In [16]:
import pandas as pd
import numpy as np

In [17]:
ranking_data = pd.read_csv("../resources/ranking.csv")
ranking_data.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612756,0,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6,NaN
1,1610612744,0,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15,NaN
2,1610612763,0,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12,NaN
3,1610612762,0,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15,NaN
4,1610612742,0,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14,NaN

In [18]:
ranking_df = ranking_data.copy()

In [19]:
ranking_df.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612756,0,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6,NaN
1,1610612744,0,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15,NaN
2,1610612763,0,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12,NaN
3,1610612762,0,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15,NaN
4,1610612742,0,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14,NaN

In [20]:
ranking_df.dtypes

TEAM_ID            int64
LEAGUE_ID          int64
SEASON_ID          int64
STANDINGSDATE     object
CONFERENCE        object
TEAM              object
G                  int64
W                  int64
L                  int64
W_PCT            float64
HOME_RECORD       object
ROAD_RECORD       object
RETURNTOPLAY     float64
dtype: object

In [21]:
ranking_df["STANDINGSDATE"] = pd.to_datetime(ranking_df["STANDINGSDATE"])

In [22]:
ranking_df.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612756,0,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6,NaN
1,1610612744,0,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15,NaN
2,1610612763,0,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12,NaN
3,1610612762,0,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15,NaN
4,1610612742,0,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14,NaN

In [23]:
ranking_df["LEAGUE_ID"].value_counts()

0    201792
Name: LEAGUE_ID, dtype: int64

In [24]:
ranking_df = ranking_df.drop(["LEAGUE_ID"], axis = 1)

In [25]:
ranking_df.head(10)

,TEAM_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612756,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6,NaN
1,1610612744,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15,NaN
2,1610612763,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12,NaN
3,1610612762,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15,NaN
4,1610612742,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14,NaN
5,1610612743,22021,2022-03-12,West,Denver,68,40,28,0.588,20-13,20-15,NaN
6,1610612750,22021,2022-03-12,West,Minnesota,69,39,30,0.565,22-12,17-18,NaN
7,1610612746,22021,2022-03-12,West,LA Clippers,69,35,34,0.507,20-14,15-20,NaN
8,1610612747,22021,2022-03-12,West,L.A. Lakers,66,29,37,0.439,20-16,9-21,NaN
9,1610612740,22021,2022-03-12,West,New Orleans,67,27,40,0.403,15-19,12-21,NaN

In [26]:
ranking_df.dtypes

TEAM_ID                   int64
SEASON_ID                 int64
STANDINGSDATE    datetime64[ns]
CONFERENCE               object
TEAM                     object
G                         int64
W                         int64
L                         int64
W_PCT                   float64
HOME_RECORD              object
ROAD_RECORD              object
RETURNTOPLAY            float64
dtype: object

In [27]:
len(ranking_df)

201792

In [28]:
ranking_df["RETURNTOPLAY"].value_counts()

1.0    2394
0.0    1596
Name: RETURNTOPLAY, dtype: int64

In [29]:
ranking_df = ranking_df.drop(["RETURNTOPLAY"], axis = 1)
ranking_df.head(10)

,TEAM_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612756,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6
1,1610612744,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15
2,1610612763,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12
3,1610612762,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15
4,1610612742,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14
5,1610612743,22021,2022-03-12,West,Denver,68,40,28,0.588,20-13,20-15
6,1610612750,22021,2022-03-12,West,Minnesota,69,39,30,0.565,22-12,17-18
7,1610612746,22021,2022-03-12,West,LA Clippers,69,35,34,0.507,20-14,15-20
8,1610612747,22021,2022-03-12,West,L.A. Lakers,66,29,37,0.439,20-16,9-21
9,1610612740,22021,2022-03-12,West,New Orleans,67,27,40,0.403,15-19,12-21